@charset "utf-8";
/* *******************************************************
 * filename : language.css
 * description : 국문  CSS
 * date : 2019-01-03
******************************************************** */


/* ******************  회사소개 ********************** */
@media all and (min-width:801px){
	.ceo-top-content .ceo-sign-con {right:0; text-align:right;}
	.ceo-top-content .ceo-sign-con .ceo-name b{letter-spacing:0;}
	.ceo-top-content .ceo-sign-con .ceo-name b span {display:inline-block; margin-left:40px;} 
}